.custom_btn {
  font-size: 60%;
  color: #fff;
  border-radius: 5px;
  padding: 0.2rem;
  font-family: "Lato", sans-serif;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
  text-decoration: none;
}

.custom_btn:hover {
  transform: scale(1.1);
  color: #21154c;
  text-decoration: none;
}
